In [ ]:
import pandas as pd

df_solar = pd.read_csv("data/prod_solaire.csv")

df

            date  prod_solaire
0     2016-09-01     77.163310
1     2016-09-02     72.371632
2     2016-09-03     31.906049
3     2016-09-04     22.494454
4     2016-09-05     68.105196
...          ...           ...
3307  2025-09-25     50.075232
3308  2025-09-26     44.815599
3309  2025-09-27     46.526905
3310  2025-09-28           NaN
3311  2025-09-29           NaN

[3312 rows x 2 columns]

In [3]:
df_eolienne = pd.read_csv("data/prod_eolienne.csv")

df_eolienne

            date  prod_eolienne
0     2016-09-01     100.000000
1     2016-09-02     100.000000
2     2016-09-03     100.000000
3     2016-09-04      96.844120
4     2016-09-05      97.088424
...          ...            ...
3303  2025-09-25      72.259819
3304  2025-09-26      52.211649
3305  2025-09-27      38.421115
3306  2025-09-28      55.810392
3307  2025-09-29      70.316613

[3308 rows x 2 columns]

In [4]:
df_hydro = pd.read_csv("data/prod_hydro.csv")

df_hydro

    date_obs_elab  prod_hydro
0      2022-08-01       200.0
1      2022-09-01       200.0
2      2022-10-01       200.0
3      2022-11-01       200.0
4      2022-12-01         0.0
..            ...         ...
991    2025-02-19       200.0
992    2025-02-20       200.0
993    2025-02-21       200.0
994    2025-02-22         0.0
995    2025-02-23         0.0

[996 rows x 2 columns]